{
 ;; [Required] A friendly title for user
 :title       "Quick start"

 ;; [Optional]
 :description "Learn everything you need to know to benefit from Logseq — in less than 5 minutes!"

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       []

:children    ["1.1.welcome-to-logseq.edn"
             "1.2.overview-of-logseqs-interface.edn"
             "1.3.getting-started-with-journals.edn"]
 }