{
 ;; [Required] A friendly title for user
 :title       "Overview of Logseq's interface"

 ;; [Optional]
 :description "See how Logseq's building blocks fit together."

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       []

 :cover       "./assets/Interface.png"
 }
 