{
 ;; [Required] A friendly title for user
 :title       "Overview of Logseq's interface"

 ;; [Optional]
 ;; :description ""

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       []
 }