{
 ;; [Required] A friendly title for user
 :title       "The only features you need to get started with Logseq"

 ;; [Optional]
 :description "A brief look at Logseq’s core features: blocks, pages, and references."

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       []

 :cover       "./assets/Interface.png"
 }
 