{
 ;; [Required] A friendly title for user
 :title       "What makes Logseq different?"

 ;; [Optional]
 :description "Unlike most other note-taking apps, Logseq is an outliner that works with plain text files. If you do now know what that means, we recommend that you read this article."

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       []
 }