{
 ;; [Required] A friendly title for user
 :title       "Common use cases"

 ;; [Optional]
 :description "Go from taking notes to boosting your productivity with Logseq."

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       []

 :cover       "./assets/Use cases.png"

 }