{
 ;; [Required] A friendly title for user
 :title       "How to enable Logseq Sync"

 ;; [Optional]
 :description "Learn how to enable the Sync feature and register your Logseq account."

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       []
 :cover       "./assets/Toggle.png"
 }
 