{:title       "Sync"
 :description "Everything you need to know to sync your graph across your devices using the official Logseq Sync service."
 :icon        "refresh"
 :color       "#da7706"

 ;; children as Topics
 :children    ["1.how-to-enable-sync"
               "2.how-to-create-remote-graph"
               "3.how-to-ensure-your-notes-are-synced"
               "4.how-to-switch-between-remote-graphs"
               "5.how-to-open-an-existing-remote-graph-on-mobile"
               "6.sync-storage-limitations"]
 }