{;; [Required] A friendly title for user
 :title       "Create cloze"

 ;; [Optional]
 :description "Create cloze cards to memorize information"

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       ["./assets/x.mp4"
 ;;              "https://www.youtube.com/watch?v=uig8_3kqhjY"
;;               "./assets/demo.png"]
 }