{;; [Required] A friendly title for user
 :title       "Embed video"

 ;; [Optional]
 :description "Add videos to your notes"

 ;; [Optional] Some images or videos to demonstrate features
 :demos       ["./assets/media-embeds/embed-video.mp4"]
 }