{;; [Required] A friendly title for user
 :title       "Add a property"

 ;; [Optional]
 :description "It's a chapter of a topic"

 ;; [Optional] Some images or videos to demonstrate features
 ;; :demos       ["./assets/x.mp4"
 ;;              "https://www.youtube.com/watch?v=uig8_3kqhjY"
;;               "./assets/demo.png"]
 }