{:title          "Logseq Handbook"
 :version        "0.0.1"

 ;; [optional] Currently, the children items will be constructed in build time
 ;; :children []

 ;; [optional] popular topics from home
 :popular-topics ["1.Getting-Started/1.welcome-to-logseq"]
 }