{:title          "Logseq Handbooks"
 :version        "0.0.1"

 ;; [optional] Currently, the children items will be constructed in build time
 ;; :children []

 ;; [optional] popular topics from home
 :popular-topics ["1.Onboarding/1.welcome-to-logseq"
                  "1.Onboarding/2.what-is-outliner"
                  "2.Workflows/1.get-start"]
 }