{:title          "Logseq Handbook"
 :version        "0.0.1"

 ;; [optional] As default, the children items will be constructed in build time
 ;:children []

 ;; [optional] popular topics from home
 :popular-topics ["1.Getting-Started/2.the-only-features-you-need-to-start"
                  "2.Sync/1.how-to-enable-sync"]
 }